

*{
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

/*--- Demais Estilos ---*/

/* Topo da página */
.nav {
  margin-top: 10px;
}

.titulo {
  color: #1a1a1a;
  margin: 0;
  margin-left: 50px;
  float: left;
}

.form { 
  float: right;
  box-sizing: border-box;
}

.form::after {
  content: "";
  clear: both;
  display: table;
}

/* Estilo ID's */

#txtBusca {
  float: left;
  width: 74%;
  font-size: 14pt;
  padding: 10px;
  color:black;
  border: 1px solid white;
}

#btnBusca {
  font-size: 14pt;
  float: left;
  padding: 10px;
  width: 18%;
  background: #1a1a1a;
  color: white;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
} 

#btnBusca:hover {
  background: #3d3d3d;
} /* -- Cor Botão de Pequisa -- */

#btnLoc {
  font-family: 'Righteous', cursive;
  font-size: 25px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-right: 0px;
  transition: .8s;
}

#btnLoc:hover {
  background-color: #040b24;
  transition: .8s;
}

#image {
  overflow: hidden;
  display: none;
  position: absolute;
  width: 80%;
  height: 500px;
  margin-top: 80px;
  margin-left: 140px;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.5);
}

#andar {
  text-align: center;
  background-color: #36afbf;
  margin-top: -8px;
  padding: 5px;
  width: 134px;
  height: auto;
  border: 1px solid white;
}

#current-time {
  font-size: 16pt;
}

#abas {
  position: absolute;
  margin-top: 100px;
  margin-left: -10px;
}

#abas li {
  padding-top: 10px;
  font-size: 15pt;
  text-align: center;
  background-color: #091a5e;
  color: #fff;
  width: 80px;
  height: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

/*------- Media Response ---------*/

@media screen and (max-width: 640px){
  .titulo {
    position: absolute;
    font-size: 20pt;
    margin-left: 35%;
    margin-right: 35%;
  }

  .form {
    margin-top: 60px;
    margin-right: 50px;
  }

  #txtBusca {
    padding: 8px;
    font-size: 12pt;
    width: 68%;
  }

  #btnBusca {
    padding: 8px;
    font-size: 12pt;
  }

  #image {
    overflow: hidden;
    display: none;
    width: 60%;
    height: 180px;
    margin-top: 120px;
    margin-left: 80px;
  }

  #abas {
    position: absolute;
    margin-top: 20px;
    margin-left: -5px;
  }

  #abas li {
    font-size: 8pt;
    width: 40px;
  }

  .valid {
    font-size: 12pt;
    margin-left: 140px;
  }

  /* Modais */

  .modal {
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
  }


  .modal-header {
    padding: 1px 7px;
    background-color: #091a5e;
    color: white;
  }
  
  .modal-header h2 {
    margin-top: 8px;
    margin-bottom: 3px;;
  }
  
  .modal-body {
    padding: 1px 8px;
  }
  
  .modal-body h2, p {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .modal-footer {
    text-align: center;
    padding: 5px 8px;
    background-color: #091a5e;
  }

  .modal-footer button {
    font-size: 8pt;
    padding: 2px;
  }

}
